<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        img{
            width:100px;
            height: 80px;
        }
        a{
            text-decoration: none;
            margin-left: 10px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <a th:href="@{/create}"> <button type="button" class="btn btn-primary">New Article</button></a><span style="margin-left:20px;"><a href="/?lang=en">English</a><a href="/?lang=km">Khmer</a><a href="/?lang=kr">Korea</a></span>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{Title}"></th>
            <th scope="col" th:text="#{Description}"></th>
            <th scope="col" th:text="#{Image}"></th>
            <th scope="col" th:text="#{Action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="st : ${object}" th:object="${st}">
            <th scope="row" th:text="*{id}"></th>
            <th scope="row" th:text="*{title}"></th>
            <th scope="row" th:text="*{discription}"></th>
            <th scope="row" ><img th:src="*{image}"></th>
            <th scope="row" ><a th:href="@{/view/{id}(id=*{id})}"><button type="button" class="btn btn-primary">View</button></a>
                <button type="button" class="btn btn-secondary">Update</button>
                <a th:href="@{/delete/{id}(id=*{id})}"><button type="button" class="btn btn-success">Delete</button></a></th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>